<header class="page-head">
    <h1 class="page-head-title"> <span>Fire</span>   Fighters
        MonitoringSystem</h1>
    <nav class="page-nav">
        <ul class="page-nav-list">
            <li class="page-list-item">
                <a routerLink="/home" class="page-item-link">Home</a>
            </li>
            <li class="page-list-item"><a routerLink="/login" class="page-item-link">Login</a></li>
            <li class="page-list-item"><a routerLink="/data" class="page-item-link">About</a></li>
            <li class="page-list-item"><a routerLink="" class="page-item-link">Support</a></li>
        </ul>
    </nav>
</header>