<section class="page-images">
    <div class="page-images-container">
        <input type="radio" name="img" id="radio1">
        <input type="radio" name="img" id="radio2">
        <input type="radio" name="img" id="radio3">
        
        <div class="item" id="item1"></div>
        <div class="item" id="item2"></div>
        <div class="item" id="item3"></div>

    </div>    

        <div class="radio-labels">
            <label for="radio1" class="radio-label"></label>
            <label for="radio2" class="radio-label"></label>
            <label for="radio3" class="radio-label"></label>
        </div>
</section>
