<div  class="data-row">
    <div>
        <span>{{d.address_line}}</span>
    </div>
    <div>
        <span>{{d.pincode}}</span>
    </div>
    <div>
        <span>{{d.district}}</span>
    </div>
    <div>
        <span>
            {{d.state}}
        </span>
    </div>
    <div>
        <span>
            {{d.device_id}}
        </span>
    </div>
    <div>
        <span>
            {{d.time}}
        </span>
    </div>
    <div>
        <span>
            {{d.status}}
        </span>
    </div>
    <div>
        <span>
            {{d.city}}
        </span>
    </div>
    <div>
        <span>
            {{d.report}}
        </span>
    </div>
    <div>
        <button class="page-table-button" (click) = "getData(d)" *ngIf="requireAction" >
            Fire
        </button>
    </div>
</div>